/*************** 
Colors

Navy #002366
Blue #0F52BA
Coral #FA8072
Light Coral #FFDAB9
Black #251F20
***************/

/*************** 
Fonts

font-family: 'Palette Mosaic', cursive;
font-family: 'Poppins', sans-serif;
***************/

body {
    background-color: #002366;
    color: #FFDAB9;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    margin: 0;
    font-family: 'Palette Mosaic', cursive;
    font-size: 50px;
}

p {
    margin: 1rem 0;
}

header {
    padding: 1rem 0;
    color: #fff;
}

header p {
    text-align: center;
    margin-top: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

main {
    display: grid;
    grid-template-columns: 30% 70%;
}

/*************** 
Buttons 
***************/
.btn.btn-primary {
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid #FA8072;
    transition: all .2s ease-in-out;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
    background-color: #FA8072;
}


.game-info {
    background-color: #0F52BA;
    min-height: 100vh;
}

.game-stats,
.game-actions {
    padding: 1rem;
}

#displayPlayerCards {
    display: flex;
    flex-wrap: wrap;
    padding-left: 170px;
    padding-right: 1rem;
}

#displayPlayerCards .card {
    cursor: pointer;
    margin-left: -150px;
}

#displayPlayerCards .card.selected img {
    border: 3px solid #FA8072;
    border-radius: 15px;
    margin-top: -1rem;
}

#playerSelectMsg,
#selectedCardContainer {
    display: none;
    text-align: center;
    margin: 1rem 0;
}

#playerSelectMsg.show,
#selectedCardContainer.show {
    display: block;
}

#message {
    display: none;
    text-align: center;
    font-size: 1.25rem;
    color: #fff;
}

#message.show {
    display: block;
}

#turnMessage {
    display: none;
    text-align: center;
    font-size: 1.5rem;
    color: #FA8072;
}

#turnMessage.show {
    display: block;
}

#playerTurnInfo {
    display: none;
}

#playerTurnInfo.show {
    display: block;
    text-align: center;
}

#computerTurnInfo {
    display: none;
}

#computerTurnInfo.show {
    display: block;
    text-align: center;
}

#resetGameContainer {
    display: none;
    text-align: center;
}

#resetGameContainer.show {
    display: block;
}

#errorMsg {
    display: none;
    text-align: center;
    color: red;
    background-color: #fff;
    border-radius: 15px;
    padding: 1rem;
}

#errorMsg.show {
    display: block;
}