h1 {
    text-align: center;
}

p {
    margin: 1rem;
}

.game-info {
    display: grid;
    grid-template-columns: auto 1fr;
}

.game-stats,
.game-actions {
    padding: 1rem;
}

#displayPlayerCards {
    display: grid;
    grid-template-columns: repeat(10, 100px);
}

#displayPlayerCards .card {
    cursor: pointer;
}

#displayPlayerCards .card.selected img {
    border: 3px solid red;
    border-radius: 15px;
    margin-top: -1rem;
}

#playerSelectMsg,
#selectedCardContainer {
    display: none;
    text-align: center;
    padding: 1rem;
    margin: 1rem 0;
    color: #000;
}

#playerSelectMsg.show,
#selectedCardContainer.show {
    display: block;
}

#message {
    display: none;
    text-align: center;
    font-size: 3rem;
    color: blue;
}

#message.show {
    display: block;
}

#playerTurnInfo {
    display: none;
}

#playerTurnInfo.show {
    display: block;
    text-align: center;
}

#computerTurnInfo {
    display: none;
}

#computerTurnInfo.show {
    display: block;
    text-align: center;
}